/* $Id: dropdown.css,v 1.3 2003/11/04 05:12:10 takeo Exp $ */
body.popup-body {
	font-family:      verdana;
	background-color: #e7e9f9;
}

a.inside {
	background-color: #f7f9f9;
	font-size:        10pt;
	width:            100%;
	border:           1px solid #c0c0c0;
	height:           20px;
	vertical-align:   super;
	text-decoration:  none;
	color:            #666666;
	padding-left:     3px;
	display:          block;
}

a.inside:hover {
	background-color: #dfffff;
	text-decoration:  none;
}
