/* $Id: frame.css,v 1.2 2003/11/04 05:12:10 takeo Exp $ */

body {
	font-family:      verdana, sans-serif;
	font-size:        10pt;
	margin:           0pt 1pt 0pt 1pt;
	background-color: #ffffff;
}

frameset.footer {
	border-style: solid;
	border-width: 0 0 5 0; 
	border-color: #990000
}