/* $Id: global.css,v 1.13 2004/02/18 16:21:14 kato Exp $ */

body {
	font-family:      sans-serif;
	font-size:        10pt;
	margin:           3pt;
	backgroung-color: #ffffff;
}

p.system-name {
	font-family:   sans-serif;
	color:         #a82e2e;
	font-size:     14pt;
	font-weight:   bold;
	margin-bottom: 5px;
}

.bold-name {
	font-family:   verdana;
	font-size:     10pt;
	font-weight:   bold;
	margin-bottom: 3px;
}

.select-name {
	font-family:      verdana;
	margin-top:       1px;
	line-height:      1.8em;
	background-color: #cccccc;
	color:            #ffffff;
	font-size:        10pt;
	font-weight:      bold;
	padding:          2px 10px 2px 10px;
	line-height:      1.2em;
	word-break:       break-all;
	background: linear-gradient(180deg, #8a7d71, #5e442e)
}

td.boundary-top {
	vertical-align: top;
	border-style: solid none none none;
	border-color: #bbbbbb; /*#aaaaaa;*/
	border-widht: 1px
}

img.logo {
	margin-bottom:    5px;
}

img.print {
	width:        30px;
	border-width: 0px;
	margin-left:  50px;
	margin-top:   5px;
}

a:link {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #cccccc;
	text-decoration: none;
}

a:active {
	color: #ffffff;
	text-decoration: none;
}

a.popup-button {
	display: inline-block;	width:            105px;
	text-align:       center;
	font-weight:      bold;
	font-size:        9pt;
	margin:           1px 1px 2px 1px;
}

a.popup-button:link {
	background-color: #3f8495;
}

a.popup-button:visited {
	background-color: #3f8495;
}

a.popup-button:hover {
	background-color: #0099aa;
	color:            #ccffff;
}

a.popup-button:active {
	background-color: #3f8495;
}

a.window-control-button {
	display: inline-block;	width:            52px;
	text-align:       center;
	font-weight:      bold;
	font-size:        9pt;
	margin:           1px 1px 2px 1px;
	visibility:       visible;
}

a.window-control-button:link {
	background-color: #a82e2e;
	color:            #ffffff;
}

a.window-control-button:visited {
	background-color: #a82e2e;
	color:            #ffffff;
}

a.window-control-button:hover {
	background-color: #cd5c5c;
	color:            #ffff99;
}

a.window-control-button:active {
	background-color: #a82e2e;
	color:            #ffffff;
}

td {
	font-size:        9pt;
}
