/* $Id: memo.css,v 1.4 2003/11/25 06:00:28 takeo Exp $ */
body {
	font-family:      verdana, sans-serif;
	background-color: #f7f9f9;
	margin:           3px 3px 3px 10px;
}

p.s1 {
	color:            #666666;
	background-color: #dfedf0;
	font-size:        10pt;
	font-weight:      bold;
	padding:     2px 3px 3px 2px;
	border-style:     solid;
	border-width:     1px;
	border-color:     #cccccc #666666 #666666 #cccccc;
}


a.memo-button {
	font-family:      sans-serif;
	font-size:        9pt;
	font-weight:      bold;
	height:           20px;
	color:            #666666;
	text-decoration:  none;
	border:           solid 1px #cccccc;
	padding:          2px 8px 2px 8px;
	color:            #ffffff;
	background-color: #a82e2e;
}

a.memo-button:hover {
	color:            #ffff99;
	background-color: #cd5c5c;
}
