/* $Id: popup.css,v 1.3 2003/11/04 05:12:09 takeo Exp $ */
div.popup-body {
	font-family:      verdana;
	background-color: #c2ccd0;
	font-size:        10pt;
	border-width:     1px; 
	border-style:     solid;
	border-color:     #666666;
	margin:           10px 5px 10px 5px;
	overflow:         auto;
	cursor:           hand;
}

a.list {
	width:            100%;
	color:            #143c4c;
	background-color: #c2ccd0;
	text-decoration:  none;
	padding-top:      2px;
	padding-left:     5px;
	margin:           3px;
}

a.list:hover {
	color:      #ffffff;
	background: #707678;
}

.popup {
	font-size:   10pt;
	line-height: 12px;
	padding:     5px;
	overflow:    auto;
}
