/* $Id: status.css,v 1.4 2003/11/04 05:12:10 takeo Exp $ */

body {
	font-family:      verdana, sans-serif;
	font-size:        10pt;
	margin:           0px 0px 0px 0px;
	background-color: #ffffff;
}

div.paragraph-name {
	color:            #000000; /*#696969;*/
	font-weight:      bold;
	font-size:        10pt;
	padding:          1px 5px 1px 5px;
	background-color: #e9eeea; /*#d9ddda;*/
}

div.group-name {
	color:            #000000; /*#696969;*/
	font-weight:      bold;
	font-size:        10pt;
	padding:          1px 5px 1px 5px;
	background-color: #e9eeea; /*#d9ddda;*/
	text-align:       center;
}

a.button-link {
	display:          block;
	font-family:      sans-serif;
	border-style:     solid;
	border-width:     1px;
	border-color:     #cccccc;
	background-color: #3f8495;
	width:            55px;
	color:            #ffffff;
	text-decoration:  none;
}

a.button-link:hover {
	background-color: #0099aa;
	color:            #ccffff;
}