/* $Id: top.css,v 1.16 2004/05/18 00:46:55 s-okino Exp $ */

body {
	font-family:  verdana, sans-serif;
	font-size:    10pt;
	border-style: solid;
	border-width: 0px 0px 5px 0px;
	border-color: #990000;
	margin-bottom: 0px;
}
a:link {
	color:           #ffffff;
	text-decoration: none;
}

a:visited {
	color:           #ffffff;
	text-decoration: none;
}

a:hover {
	color:            #a82e2e;
	text-decoration:  none;
}

a:active {
	color:           #ffffff;
	text-decoration: none;
}

p.system-name {
	color:          #a82e2e;
	font-size:	    14pt;
	font-weight:	  bold;
	font-family:	  sans-serif;
	margin-bottom:	5px;
	margin-left:    10px;
	width:          500px;
}
img {
	vertical-align: top;
	margin:         0px;
	border-width:   0px;
	border-style:   none;
	padding:        0px;
}
img.logo {
	margin-bottom: 5px;
}
td.top-vehicle {
	width:            184px;
	background-color: #aaaaaa;
	vertical-align:   top;
}
td.top-gas {
	width:            122px;
	background-color: #ffffff;
	vertical-align:   top;
}
td.top-repair {
	width:            210px;
	background-color: #ffffff;
	vertical-align:   top;
}
td.top-guardrail {
	width:            188px;
	background-color: #ffffff;
	vertical-align:   top;
}
td.top-red {
	background-color: #990000;
	vertical-align:   bottom;
  color:            #ffffff;
	font-size:        10pt;
	font-weight:      bold;
}
td.main-area {
	background-color: #c5c9b8;
	height:           200px;
	vertical-align:   top;
}
td.directory-area {
	background-color: #c5c9b8;
	height:           400px;
	vertical-align:   top;
}
td.select-vehicle {
	padding:          10px;
	background-color: #c5c9b8;
  color:            #000000;
	font-size:        9pt;
	font-weight:      bold;
	vertical-align:   top;
	text-align:       left;
}

ul.list-top {
	font-size:        10pt;
	font-weight:      bold;
	color:            #323232;
	
	list-style-image: url(../img/right-arrow-whiteframe.png);
	vertical-align:   middle;
	
	margin-top:       5px;
	margin-bottom:    0px;
}
a.link-enable {
	font-size:       9pt;
	font-weight:     bold;
	margin-left:     20px;
	list-style-type: none;
}
a.link-enable:link {
	color:       #323232;
}
a.link-enable:visited {
	color:       #323232;
}
a.link-enable:hover {
	color:       #990000;
}
a.link-enable:active {
	color:       #323232;
}

a.link-index {
	font-size:   8pt;
	font-weight: bold;
	margin-left: 80px;
}
a.link-index:link {
	color: #323232;
}
a.link-index:visited {
	color: #323232;
}
a.link-index:hover {
	color: #990000;
}
a.link-index:active {
	color: #323232;
}

a.link-disable {
	font-size:       9pt;
	font-weight:     bold;
	margin-left:     20px;
	list-style-type: none;
	cursor:          default;
}
a.link-disable:link {
	color: #999999;
}
a.link-disable:visited {
	color: #999999;
}
a.link-disable:hover {
	color: #999999;
}
a.link-disable:active {
	color: #999999;
}

select {
  font-size: 9pt;
	width:     186px;
}
.button {
  font-size: 9pt;
}

li.list-top {
	margin-top: 7px;
}

.binput {
	color:            #000000;
	background-color: #eeeeeee;
	font-size:        9pt;
	vertical-align:   top;
	border:           solid 1px #7777777;
	cursor:           hand;
}

a.window-control-button {
	display: inline-block;	font-family:      sans-serif;
	font-weight:      bold;
	font-size:        9pt;
	width:            90px;
	text-align:       center;
	margin:           1px 1px 2px 1px;
	visibility:       visible;
	background-color: #a82e2e;
	color:            #ffffff;
}

a.window-control-button:hover {
	background-color: #cd5c5c;
	color:            #ffff99;
}