BODY, TABLE, INPUT { 
	font-size:		10pt;
	font-family:	"Arial", sans-serif;
}


a.ctrl_page_no {
	font-size:			10pt;
	font-weight:		bold;
	text-decoration:	none;
	padding:			0px 5px;
	color:				#666666;
	border:				solid 1px #cccccc;
}

a.ctrl_page_no:hover {
	color:				#ffffff;
	background-color:	#99c5d5;
}

td.ctrl_page_rect {
	padding:			2px;
	background-color:	#FFFFFF;
	border:				solid 1px #cccccc;
}

td.ctrl_page_rect_active {
	padding:			2px;
	background-color:	#cccccc;
	border:				solid 1px #cccccc;
}



a.ewd-button {
	font-weight:		bold;
	font-size:			9pt;
	text-decoration:	none;
	padding:			2px 4px;
	color:				#ffffff;
	background-color:	#3f8495;
}

a.ewd-button:hover {
	color:				#ccffff;
	background-color:	#0099aa;
}
