div.popup-body {
	background-color: #e7e9f9;
	font-family: "Arial", sans-serif;
}

a.popup-item {
	background-color: #f7f9f9;
	font-family:      Verdana, sans-serif;
	font-size:        10pt;
	width:            100%;
	border:           1px solid #c0c0c0;
	height:           20px;
	vertical-align:   super;
	text-decoration:  none;
	color:            #666666;
	padding-left:     3px;
	display:          block;
}

a.popup-item:hover {
	background-color: #dfffff;
	text-decoration:  none;
}

a.popup-item-hover {
	background-color: #dfffff;
	font-family:      Verdana, sans-serif;
	font-size:        10pt;
	width:            100%;
	border:           1px solid #c0c0c0;
	height:           20px;
	vertical-align:   super;
	text-decoration:  none;
	color:            #666666;
	padding-left:     3px;
	display:          block;
	cursor:           hand;
}
