BODY, TABLE, INPUT { 
	font-size: 10pt;
	font-family: "Verdana", sans-serif;
}



.gray {
	background-color: #717171;
	color: #FFFFFF;	font-size: 11pt; font-weight: bold;
	border: thin solid black;
	height: 20px;
}
.gray2 {
	background-color: #C9C9C9;
	color: #000000;	font-size: 10pt;
	border: thin solid black;
	padding: 5px 10px; text-align: center;
}
.gray3 {
	background-color: #DDE3E6;
	color: #000000;	font-size: 10pt;
	border: thin solid black;
	padding: 5px; line-height: 1.3em;
}
.gray3_dark_left {
	background-color: #C7D0D6;
	color: #000000;	font-size: 10pt;
	border: thin solid black;
	padding: 2px 8px; vertical-align: top;
}
.gray4 {
	background-color: #B4BCC5;
	color: #FFFFFF;	font-size: 12pt; font-weight: bold;
	border: thin solid black;
	padding: 5px 10px; text-align: right;
}
.gray4_ {
	background-color: #EEEEEE;
	color: #000000;	font-size: 10pt;
	border: thin solid black;
	padding: 2px 8px;
}
.gray4_no_text {
	background-color: #EEEEEE;
	border: thin solid black;
	padding: 2px 8px;
}
.gray4title {
	background-color: #B4BCC5;
	color: #006699;	font-size: 12pt; font-weight: bold;
	padding-left: 5px 10px;
	border: thin solid black;
	text-align: right;
}
.gray5  {
	background-color: #C9C9C9;
	color: #000000;	font-size: 10pt;
	border: thin solid black;
	padding: 5px 5px;
}
.color1 {
	background-color: #DDE3E6;
	color: #666666;	font-size: 10pt;
	padding-left: 5px; line-height: 1.5em;
}
.d_image {
	background-image: url(../icon/default.png); background-repeat: no-repeat;
	height: 352px; width: 621px;
}
.text00 {
	color: #666666;	font-size: 10pt;
	text-align: right;
}





div.titlelist       {
	background:#C7D0D6;
	color:#666666; font-size:10pt;
	padding: 3px 5px;
	border: 0px solid #A3B5BC; border-left-width: 3px;
	width:100%;	cursor:hand;
}
div.titlelist_hover {
	background:#DDE3E6;
	color:#DC883D; font-size:10pt;
	padding: 3px 5px;
	border: 0px solid #A3B5BC; border-left-width: 10px;
	cursor:hand; width:100%;
}



div.categorylist { padding:20px }
div.category        {
	background:#FFFFFF;
	color:#000000; font-size:10pt;
	border: 1px solid #CCCCCC;
	padding:2px; margin:8px 20px;
	cursor:hand;
}
div.category_hover  {
	background:#C6CFD3;
	color:#FFFFFF; font-size:10pt;
	border: 1px solid #CCCCCC;
	padding:2px; margin:8px 20px;
	cursor:hand;
}
div.category_active {
	background:#A9B2B7;
	color:#FFFFFF; font-size:10pt;
	border: 1px solid #CCCCCC;
	padding:2px; margin:8px 20px;
	cursor:hand;
}



div.menu        {
	background:#FFFFFF;
	color:#000000;	font-size: 10pt;
	border: 1px solid #CCCCCC;
	padding: 2px 3px;
	width: 100%; 
}
div.menu_hover {
	background:#FFFFFF;
	color:#000000;	font-size: 10pt;
	border: 1px solid #CCCCCC;
	padding: 2px 3px;
	width: 100%; 
}
div.menu_active {
	background:#FFFFFF;
	color:#000000;	font-size: 10pt;
	border: 1px solid #CCCCCC;
	padding: 2px 3px;
	width: 100%; 
}


div.text             {
	color:#000000; font-size:10pt;
	padding:4;
}
div.text_hover		{
	color:#000000; font-size:10pt;
	padding:4;
}
div.text_hover_other	{
	color:#000000; font-size:10pt;
	padding:4;
}


div.loads_ref       {
	color:#000000; font-size:10pt; text-decoration:underline;
	padding:1;
}
div.loads_ref_hover {
	color:#000000; font-size:10pt; text-decoration:underline;
	padding:1;
}

div.title     {
	background:#666666;
	color:#FFFFFF; font-size:10pt; font-weight:bold;
	width:100%; margin-bottom:20px; margin-top:4px
}
div.title_map {
	background:#666666;
	color:#FFFFFF; font-size:10pt; font-weight:bold;
	width:100%; 
}



div.lblIndex { font-size:10pt; font-weight:bold; }


table.p_table{ border-collapse: collapse; }
table.partslist { margin:10px 0px; }
table.list { margin:8px 0px; }
td.loads_title{ color: #000000;  font-size: 14pt;  font-weight: bold;}
p.space{ margin: 30px 0px }


span.pinfo_link_entry{ font-size: 8pt; }
span.loads_ps_order{ color:#000000; font-size: 12pt; }
span.terminal{ font-size: 11pt; }


input.button1{ font-family: Arial; }


div.blockname{
	border:		1px solid #000000;
	background-color:	#EEEEEE;
	color:			#000000;
	font-size:		9pt;
	font-weight:	bold;
	margin:		4px;
	padding:	1px;
}

div.loads-link
{
	padding:	1;
}

span.loads_ref       {
	color:#000000; font-size:10pt; text-decoration:underline;
}

span.loads_ref_hover {
	color:#000000; font-size:10pt; text-decoration:underline;
}
