body {
	background-color: #ffffff/*#f7f9f9*/;
	font-family:      Verdana, sans-serif;
	margin:           3px;
}

/*
b {
	font-size: 10pt;
}
*/

/*
th {
	color:       #000000;
	font-size:   10pt;
	font-weight: lighter;
}

*/
td {
/*	color:       #666666; */
	font-size:   10pt;
	font-weight: lighter;
}


td.s1 {
	color:            #666666;
	background-color: #dfedf0;
	font-size:        10pt;
	font-weight:      bold;
	/*text-indent:      18px;*/
	padding-left:		18px;
	border-style:     none;
	border-color:     #cccccc;
}


ol.ss2 {
	font-size:       11pt;
	font-weight:     lighter;
	list-style-type: lower-alpha;
	margin-left:     30px;
}


ol.s2 {
	color:           #5b80a4;
	font-size:       11pt;
	font-weight:     bold;
	list-style-type: lower-alpha;
	margin-left:     30px;
}

ol.s3 {
	color:           #55969d;
	font-size:       11pt;
	font-weight:     bold;
	list-style-type: lower-roman;
	margin-left:     20px;
}

dt.caution {
	color:       #ff0000;
	font-size:   10pt;
	font-weight: bold;
}

dd.caution {
	color:       #ff0000;
	font-size:   10pt;
	font-weight: lighter;
	margin-left: 10px;
}

dt.notice {
	color:       #e88517;
	font-size:   10pt;
	font-weight: bold;
}

dd.notice {
	color:       #e88517;
	font-size:   10pt;
	font-weight: lighter;
	margin-left: 10px;
}

dt.hint {
	color:       #008000;
	font-size:   10pt;
	font-weight: bold;
}

dd.hint {
	color:       #008000;
	font-size:   10pt;
	font-weight: lighter;
	margin-left: 10px;
}

dt.example {
	color:       #1b6384;
	font-size:   10pt;
	font-weight: bold;
}

dd.example {
	color:       #1b6384;
	font-size:   10pt;
	font-weight: bold;
	margin-left: 5px;
}

table.float {
	border:   0px;
	margin:   0px;
	position: relative;
	float:    right;
}

font.ptxt{
	color:       #000000;
	font-size:   10pt;
	font-weight: lighter;
}

