BODY, INPUT, TABLE, TH, TR, TD, OL, LI, DIV, SPAN, A, P, BLOCKQUOTE, H1, H2, H3, H4 {
	font-family:      Verdana, sans-serif;
	font-size: 10pt;
}


body{
	background-color: white;
	margin-left: 2em;
}
img{
	border-style: solid;
	border-color : black;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
}

LI.img{
	margin: 0px 10px 0px 0px;
}

span.notice-dt {
	color:       #e88517;
	font-size:   10pt;
	font-weight: bold;
}

SPAN.notice-dd {
	color:       #e88517;
	font-size:   10pt;
	font-weight: lighter;
  list-style-type : disc;
}
